body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('F:\Shreyasi Srivastava\IWT_LAB\images\13.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: #f0f0f0; /* Default text color, adjust according to your background */
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 30px;
    font-weight: bolder;
    color: #ffffff; /* Adjust according to your background */
}

p {
    font-size: 15px;
    margin-bottom: 20px; /* Spacing between paragraphs */
    color: #cccccc; /* Adjust according to your background */
}

strong {
    background-color: #ffeb3b;
    color: #000;
    padding: 2px 5px;
    border-radius: 3px;
}

hr {
    border: 0;
    height: 2px;
    background: #fff;
    margin-bottom: 20px; /* Spacing between the title and the first paragraph */
}
